{{yield}}
    <h3>My MAP</h3>
    <div id="map"></div>
    <script>
      function initMap() {
          //
        var uluru = {lat: 51.509865, lng: 	-0.118092};
        /*$(document).getElementById('map'){
            console.log("id")
        }*/
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
        console.log(marker)
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqAN8urzSbEXRL-j9-KrTSBvGCIkokkK4&callback=initMap">
    </script>